body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 56px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather, .sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 64px;
  /* Space for fixed navbar */
}

/*
 * Navbar
 */

.bg-dark {
  background-color: #0078d4 !important;
}

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

[v-cloak] {
  display: none;
}

.nav-item, .nav-item a {
  white-space: nowrap;
}

.nav-link.active {
  font-weight: 600;
}

.badge-pill {
  margin-left: 4px;
  border-radius: 4px;
  vertical-align: middle;
}

.nav-link .new-events {
  opacity: 0;
}

.nav-link .new-events.active {
  opacity: 1;
}

#eventModal .modal-dialog {
  max-width: 960px;
}

#eventModal .modal-content {
  max-height: 90vh;
  overflow: scroll;
}

/* .fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
} */

#backdrop {
  opacity: 0.5 !important;
}

main td, main th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jumbotron td {
  white-space: normal;
}

.jumbotron {
  padding: 2rem;
}

.jumbotron pre, .jumbotron table {
  margin: 0px;
}

i.ok-status {
  color: #009900;
}

i.bad-status {
  color: #990000;
}

.sub-info {
  font-size: 1.2rem;
}