<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Azure Event Grid Local Relay</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbootstrap/bootstrap-fluent-design@4326eae/css/fluent.css">
  <link rel="stylesheet" href="dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <span class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
      <img src="eventgrid-logo.svg" alt="Event Grid" style="height: 32px; margin-right: 12px;">
      Azure Event Grid Local Relay
    </span>
  </nav>

  <div class="container-fluid" id="app" v-cloak>
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Subscriptions</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item nav-subscription" v-for="subscription in config.eventSubscriptions"
              :key="subscription.name">
              <a class="nav-link" :class="{active: currentSubscription===subscription}" href="#"
                @click.stop.prevent="selectSubscription(subscription)" :title="subscription.name">
                <i class="fas fa-bolt new-events" :class="{active: subscription.events.some(e => e.unread)}"></i>&nbsp;
                {{ subscription.name }}
              </a>
            </li>
          </ul>

        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div v-if="currentSubscription">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <span class="h2">{{ currentSubscription.name }}
              <a href="#" @click.stop.prevent="expandSubscriptionDetails=!expandSubscriptionDetails">
                <i class="fas fa-info-circle sub-info text-muted"></i>
              </a>
            </span>
          </div>
          <div class="jumbotron" v-if="expandSubscriptionDetails">

            <table class="table">
              <tbody>
                <tr>
                  <th>Event Grid Topic</th>
                  <td>{{ currentSubscription.topic }}</td>
                </tr>
                <tr>
                  <th>Storage Account</th>
                  <td>{{ storageAccountName(config.storage.connectionString) }}</td>
                </tr>
                <tr>
                  <th>Storage Queue Name</th>
                  <td>{{ currentSubscription.queueName }}</td>
                </tr>
                <tr>
                  <th>Local Webhook URL</th>
                  <td>{{ currentSubscription.webhookUrl }}</td>
                </tr>
                <tr>
                  <th>Subscription Filter</th>
                  <td>
                    <pre>{{ JSON.stringify(currentSubscription.filter, null, 2) }}</pre>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive">
            <table class="table table-md">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Timestamp</th>
                  <th>Status</th>
                  <th>Type</th>
                  <th>Subject</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="ev in currentSubscription.events" :key="ev.id">
                  <td><a href="#" @click.stop.prevent="showModal(ev)">{{ ev.payload.id }}</a></td>
                  <td>{{ formatTimestamp(ev.payload.eventTime) }}</td>
                  <td>
                    <i v-if="ev.webhookResponse && (ev.webhookResponse.statusCode >= 200 && ev.webhookResponse.statusCode < 300)"
                      class="fas fa-check-circle ok-status"></i>
                    <i v-else class="fas fa-times-circle bad-status"></i>
                    {{ ev.webhookResponse && ev.webhookResponse.statusCode || "" }}
                  </td>
                  <td>{{ ev.payload.eventType }}</td>
                  <td>{{ ev.payload.subject }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>

    <transition name="fade">
      <div v-if="modalEvent">
        <div class="modal fade show" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-modal="true"
          role="dialog" style="display: block;">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="eventModalLabel">Event details</h5>
                <button type="button" class="close" aria-label="Close" @click="closeModal">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Webhook</th>
                      <td>
                        <b>{{ modalEvent.url }}</b>
                        <br />
                        <i v-if="modalEvent.webhookResponse && (modalEvent.webhookResponse.statusCode >= 200 && modalEvent.webhookResponse.statusCode < 300)"
                          class="fas fa-check-circle ok-status"></i>
                        <i v-else class="fas fa-times-circle bad-status"></i>
                        {{ modalEvent.webhookResponse && modalEvent.webhookResponse.statusCode || "" }}
                        {{ modalEvent.webhookResponse && modalEvent.webhookResponse.message }}
                        <br />
                        <button type="button" class="btn btn-secondary btn-sm" @click="resendEvent(modalEvent)">Re-send
                          Event</button>
                        <button type="button" class="btn btn-secondary btn-sm" @click="copyCurlToClipboard(modalEvent)">
                          Copy cURL command
                          <i v-if="copiedToClipboard" class="fas fa-check-circle ok-status"></i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <th>Payload</th>
                      <td>
                        <pre>{{ modalEvent.payload }}</pre>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click.prevent.stop="closeModal">Close</button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="modal-backdrop fade show" id="backdrop"></div>
      </div>
    </transition>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    Vue.createApp({
      data: function () {
        return {
          config: {},
          expandSubscriptionDetails: false,
          currentSubscription: null,
          modalEvent: null,
          socket: null,
          copiedToClipboard: false
        }
      },
      methods: {
        showModal: function (ev) {
          this.modalEvent = ev;
        },
        closeModal: function () {
          this.modalEvent = null;
        },
        storageAccountName: function (connectionString) {
          const accountNameMatch = /\bAccountName=([^;]+)/.exec(connectionString);
          if (accountNameMatch) {
            return accountNameMatch[1];
          }
        },
        formatTimestamp: function (timestamp) {
          try {
            const d = new Date(timestamp);
            return d.toLocaleString();
          } catch {
            return timestamp;
          }
        },
        selectSubscription: function (subscription) {
          this.currentSubscription = subscription;
          for (const ev of subscription.events) {
            ev.unread = false;
          }
        },
        resendEvent: function (ev) {
          this.socket.emit("resendEvent", ev);
          this.closeModal();
        },
        copyCurlToClipboard(ev) {
          let command = `curl --location '${ev.url}'`;
          for (const key of Object.keys(ev.headers)) {
            command += ` --header '${key}: ${ev.headers[key]}'`;
          }
          command += ` --data-raw '${JSON.stringify(ev.payload).replace(`\'`, `'\''`)}'`;
          command += ` --verbose`;
          navigator.clipboard.writeText(command);
          this.copiedToClipboard = true;
          setTimeout(() => this.copiedToClipboard = false, 2000);
        }
      },
      mounted: function () {
        this.socket = io();

        this.socket.on("refreshEvents", (config) => {
          console.log(config);
          this.config = config;
          const keys = Object.keys(this.config.eventSubscriptions).sort();
          for (const key of keys) {
            this.config.eventSubscriptions[key].name = key;
            for (const ev of this.config.eventSubscriptions[key].events) {
              ev.unread = false;
            }
          }
          this.currentSubscription = keys.length ? this.config.eventSubscriptions[keys[0]] : null;
          this.modalEvent = null;
        });

        this.socket.on("newSubscriptionEvent", (ev) => {
          console.log(ev);
          const subscription = this.config.eventSubscriptions[ev.eventSubscriptionKey];
          ev.unread = this.currentSubscription !== subscription;
          subscription.events.push(ev);
        });
      }
    }).mount('#app')

  </script>
</body>

</html>